@if (clearance) {
    <div class="clearance-card" [ngClass]="step?.status">
        <div class="header">
            <div class="kind-container">
                <span class="step-status" [ngClass]="step?.status">
                    {{ step?.status }}
                </span>
                <span class="kind">{{ clearance.kind.toUpperCase() }} CLEARANCE</span>
            </div>
        
            <span class="timestamp">{{ clearance.issued_at }}</span>
        </div>
    
        @if (clearance.coords.length) {
            <button
                type="button"
                class="support-toggle"
                (click)="toggleDetails()"
                [class.expanded]="showDetails"
            >
                <span class="label">{{ showDetails ? 'Hide details' : 'Show details' }}</span>

                <svg class="chevron" viewBox="0 0 20 20" aria-hidden="true">
                    <path d="M5 7.5 10 12.5 15 7.5" />
                </svg>
            </button>
            
            <div class="support-route-wrapper" [class.open]="showDetails">
                <div class="support-route">
                    @for (coord of clearance.coords; track $index) {
                        <span class="route-node">{{ coord.name }}</span>
                    }
                </div>
            </div>
        }
    
        <div class="actions">
            @if (isRespondableStep) {
                @if (showCancelRequest) {
                    <button 
                        class="btn cancel-btn"
                        [disabled]="!selectedPilotSid"
                        (click)="cancelClearance()"
                    >
                        Cancel
                    </button>
                } @else {
                    <button class="btn unable" [title]="'Reject pilot\'s request'" (click)="emitAction('unable')">unable</button>
                }
                @if (!isStandby) {
                    <button class="btn standby" [title]="'Makes pilot wait for Clearance'" (click)="emitAction('standby')">standby</button>
                }
                <button class="btn standby" [title]="'Send Clearance to pilot'" (click)="emitAction('affirm')">affirm</button>
            }
        </div>
    </div>
} 
@else {
    <div class="clearance-card request-clearance">
        <div class="header">
            Assign Clearance
        </div>

        <div class="request-clearance-content">
            <div class="selector">
                <label>Type:</label>
                <select [(ngModel)]="requestedClearanceKind">
                <option value="taxi">Taxi</option>
                <option value="expected">Expected</option>
                </select>
            </div>
    
            <button 
                class="btn request-btn"
                [disabled]="!requestedClearanceKind || !selectedPilotSid"
                (click)="requestClearance()"
            >
                Generate Clearance 
            </button>
        </div>
    </div>
}